@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:ital@1&family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style: 0;
    font-family: font-family: 'Indie Flower', cursive;;
    background-color: #B7B7BF;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;

}

/* nav */

nav a {
    color:#7A7A7F;
    text-decoration: none;
    padding: 20px;
}

div a {
    color: #7A7A7F;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    color: white;
}

div a:hover{
    font-size: 50px;
}

/* main */

.grille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.cellule1 {
    padding: 30px;
    grid-column: 3 / span 4;
    grid-row: 1 / 2;
    text-align: center;
}

.cellule2 {
    grid-column: 2 / span 2;
    grid-row: 1 / 2;
    padding: 40px;
}

div img{
    width: 400px;
    height: 300px;
}